@model Schoolmanagementn.Role

@{
    ViewBag.Title = "Details";
}


<div style="margin-left: 200px; margin-right: 350px;" class="shadow">
    <div>
        <h2 style="font-weight: 800; text-align: center">
            <br />

            Role
            Details
        </h2>
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Role :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoleName)
                </dd>
        
        </dl>
    </div>
    <div class="form-actions no-color" style="text-align: center">

        <a href="@Url.Action("Edit", "Roles", new { id = Model.RoleId })" class="btn btn-primary font-weight-bold btn-pill">Edit</a>
        <a href="@Url.Action("Index", "Roles")" class="btn btn-dark font-weight-bold btn-pill">Back</a>

    </div>
    <br />

</div>
</div>
