@{
    ViewBag.Title = "Home Page";
}



<div class="slideshow-container">

<div class="mySlides ">
    <img src="https://media.istockphoto.com/photos/interior-of-a-school-classroom-with-wooden-desks-and-chairs-picture-id1296463018?b=1&k=20&m=1296463018&s=170667a&w=0&h=RWZEBlCbVMkWyfMnNu-nR-E6kWKApneOGieHc-ma9Oo=" alt="Alternate Text" style="height:400px;width:900px;margin:initial"/>
  
</div>

<div class="mySlides ">
    <img src="https://media.istockphoto.com/photos/sports-teacher-and-group-of-kids-exercising-during-physical-activity-picture-id1331594995?b=1&k=20&m=1331594995&s=170667a&w=0&h=-H8wGUAtDkLZU39IGt1_gMJ12wisk0Jh_HBBePIXAyk=" alt="Alternate Text" style="height:400px;width:900px;margin:initial"/>
 
</div>

<div class="mySlides ">
    <img src="https://wallpapercave.com/wp/wp5501211.jpg" alt="Alternate Text" style="height:400px;width:900px;margin:initial"/>
</div>




<div style="text-align:center ">
  <span class="dot "></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
</div>